body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}

.nav1 ul {
  list-style-type: none;
 
}

.nav1 ul li {
  float: left;
  margin-right: 0.5em;
  
}

.nav1 ul li a {
  padding: 0.25em 1em;
  text-decoration: none;
  background-color: #EBF5FF;
  color: #009600;
  border: 2px solid #006400;
  border-top-left-radius: 1em 1em; 
  border-top-right-radius: 1em 1em;
}

.nav1 ul li a:hover, nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}


/* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

footer > p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
        }
}